.navbar {
  position: fixed; /* Keeps the navbar fixed at the top */
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #223f24; /* A more vibrant green for a fresh, nature-inspired look */
  padding: 10px 60px;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Softer shadow for cleaner depth */
  z-index: 1000; /* Ensures the navbar stays above all other elements */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}



/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 30px; /* Reduce padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px 15px;
  }
}


.logo {
  font-size: 26px; /* Slightly larger font size */
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s; /* Smooth scaling effect */
}

.logo:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.search-icon {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjusted for better spacing */
  width: 25px; /* Slightly larger icon */
  height: 25px; /* Slightly larger icon */
}

.search-bar input {
  width: 320px; /* Slightly wider input field */
  border: 2px solid #ccc; /* Keep the border color for input */
  border-radius: 5px; /* Softer corners */
  height: 35px; /* Slightly taller input */
  padding: 0 10px; /* Inner padding for better usability */
}

/* Button styles */
.iconbutton,
.cart-button,
.login-button {
  background-color: transparent; /* Transparent background */
  border: none; /* No border for a minimalist look */
  color: white; /* Text color */
  padding: 10px 20px; /* Add some padding */
  cursor: pointer; /* Pointer cursor on hover */
  transition: color 0.3s, background-color 0.3s; /* Transition for text color and background */
  border-radius: 5px; /* Softer corners */
  font-weight: 500; /* Medium font weight for a clean look */
}

/* Hover effect for all buttons after Cart */
.cart-button:hover {
  color: #0b0b09; /* Text color for Cart */
  background-color: white; /* Background color for Cart */
}

/* Hover effect for buttons after Cart */
.iconbutton button:not(.cart-button):hover,
.login-button:hover {
  color: #0b0b09; /* Change text color to black */
  background-color: white; /* Change background color to white */
}

.iconbutton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px; /* Adjusted for better spacing */
}

.cart-icon {
  width: 20px;
  height: 20px;
}
