
.App {
  text-align: center;
 
}

/* body {
  background-color: #000;
  color: #f3f4f6;
  margin: 0;
  padding: 0;
} */

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important; /* bg-gray-800 */
  -webkit-text-fill-color: #d1fae5 !important; /* text-green-100 */
  caret-color: #d1fae5 !important;
}

html {
  scroll-behavior: smooth;
}
